body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.header .navbar {
  font-weight: 600;
}
.header .navbar .nav-item.active .nav-link {
  color: #ff2a2d;
}
.header .navbar .nav-item .nav-link {
  color: #292929;
}
.header .navbar .nav-item:hover .nav-link {
  color: #ff2a2d;
}
.header .dropdown:hover > .dropdown-menu {
  display: block;
}
.header .dropdown .dropdown-item {
  font-size: 16px;
}
.header .nav-right .list-group-item {
  font-weight: bold;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.header .nav-right .list-group-item:first-child {
  border-left: none;
}
.header .nav-right .list-group-item .dropdown-menu {
  left: -50px;
  width: 230px;
}
.header .nav-right .list-group-item i {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.header .nav-right .list-group-item i:hover {
  color: #ff2a2d;
}
.header .nav-right .list-group-item .badge-red {
  background-color: #ff2a2d;
  position: absolute;
  right: 10px;
  top: 20%;
}
.header .nav-right .list-group-item .search i {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.owl-carousel.owl-theme .item figure {
  width: 100%;
}
.owl-carousel.owl-theme .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 45%;
  left: 0;
  height: 0;
  width: 100%;
  margin: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.owl-carousel.owl-theme .owl-nav [class*=owl-] {
  display: none;
  margin: 0;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-] i {
  font-size: 35px;
  color: #fff;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-] i:hover {
  color: #ff2a2d;
}
.owl-carousel.owl-theme .owl-nav .owl-next {
  margin-right: 30px;
}
.owl-carousel.owl-theme .owl-nav .owl-prev {
  margin-left: 30px;
}
.owl-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  opacity: 0.8;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  opacity: 1;
  background-color: #fff;
}
.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff;
}
.owl-carousel.owl-theme#js-stage-detail .owl-nav [class*=owl-] i {
  font-size: 35px;
  color: #000000;
}
.owl-carousel.owl-theme#js-stage-detail .owl-nav [class*=owl-] i:hover {
  color: #ff2a2d;
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage {
  margin: 0;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item {
  width: 100% !important;
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item .item a .figure {
  overflow: hidden;
  backface-visibility: hidden;
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item .item a .figure-img {
  margin: 0;
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item .item a img {
  width: 100%;
  height: auto;
  opacity: 0.5;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item .item a:hover .figure {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item .item a:hover img {
  opacity: 1;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5);
  -moz-transform: translateY(-5);
  -ms-transform: translateY(-5);
  -o-transform: translateY(-5);
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item.active.synced .figure {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.owl-carousel.owl-theme#js-dot-detail .owl-stage-outer .owl-stage .owl-item.active.synced img {
  opacity: 1;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5);
  -moz-transform: translateY(-5);
  -ms-transform: translateY(-5);
  -o-transform: translateY(-5);
}
.owl-carousel.owl-theme#js-carousel-prd .owl-nav {
  top: 35%;
}
.owl-carousel.owl-theme#js-carousel-prd .owl-nav [class*=owl-] i {
  font-size: 35px;
  color: #000000;
}
.owl-carousel.owl-theme#js-carousel-prd .owl-nav [class*=owl-] i:hover {
  color: #ff2a2d;
}
.owl-carousel.owl-theme#js-carousel-prd .owl-nav .owl-next {
  margin-right: 15px;
}
.owl-carousel.owl-theme#js-carousel-prd .owl-nav .owl-prev {
  margin-left: 15px;
}

.choose-number {
  display: flex;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 3px;
  line-height: 32px;
  font-size: 14px;
  color: #333;
  width: fit-content;
}
.choose-number .abate {
  border-right: 1px solid #dfdfdf;
  background: #fff;
  padding: 0 12px;
  height: 32px;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.choose-number .abate i {
  font-weight: bold;
}
.choose-number .abate i:hover {
  color: #ff2a2d;
}
.choose-number .abate.active i {
  color: #288ad6;
}
.choose-number .abate.active i:hover {
  color: #ff2a2d;
}
.choose-number .number {
  font-size: 14px;
  color: #333;
  padding: 0 15px;
  height: 32px;
  text-align: center;
}
.choose-number .augment {
  border-left: 1px solid #dfdfdf;
  background: #fff;
  padding: 0 12px;
  height: 32px;
  position: relative;
  cursor: pointer;
  text-align: center;
}
.choose-number .augment.active i {
  color: #288ad6;
}
.choose-number .augment.active i:hover {
  color: #ff2a2d;
}
.choose-number .augment i {
  font-weight: bold;
}
.choose-number .augment i:hover {
  color: #ff2a2d;
}

.section-category {
  display: flex;
  flex-direction: "row";
  justify-content: "flex-start";
  align-items: "stretch";
  flex-wrap: "wrap";
  border: 1px solid #ff2a2d;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.section-category-item {
  max-width: 12.5%;
  width: 12.5%;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.section-category-item:first-child {
  border-left: none;
}

.title h2 {
  font-size: 32px;
  margin: auto;
}
.title h2 span:hover {
  color: #ff2a2d;
}
.title small {
  font-size: 14px;
}
.title .text-muted {
  color: #666666;
}

.prd-item a .prd-img {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.prd-item a .prd-img img {
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.prd-item a .prd-img i {
  opacity: 0;
  font-size: 25px;
  position: absolute;
  left: 5%;
  bottom: 5%;
  color: #292929;
}
.prd-item a .prd-img i:hover {
  color: #ff2a2d;
}
.prd-item a .prd-name h5 {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.prd-item a .prd-price {
  color: #ff2a2d;
  font-size: inherit;
}
.prd-item:hover .prd-img i {
  opacity: 1;
}
.prd-item:hover .prd-img img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.prd-name h1 {
  font-size: 24px;
}

.prd-price {
  color: #ff2a2d;
  font-size: 26px;
}

.prd-meta span {
  display: block;
  padding: 6px 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.125);
}

.post-item figcaption h5 {
  font-size: 16px;
}
.post-item figcaption time {
  opacity: 0.8;
  font-size: 12px;
}
.post-item figcaption p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.section-brand-item:not(:first-child) {
  border-left: 1px dashed rgba(0, 0, 0, 0.125);
}
.section-brand-item .figure {
  margin: 0;
  padding: 20px;
}
.section-brand-item .figure img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.footer {
  color: #292929;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
}
.footer .info i {
  color: #ff2a2d;
  margin-right: 10px;
}
.footer .policy {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .policy p {
  margin-top: 0;
}
.footer .policy-item {
  padding-bottom: 6px;
}
.footer .policy-item .policy-link {
  color: #292929;
}
.footer .policy-item .policy-link:hover {
  color: #ff2a2d;
}

.btn-red {
  font-weight: bold;
  color: #fff;
  background-color: #ff2a2d;
}
.btn-red:hover {
  opacity: 0.8;
  color: #fff;
}

.table {
  color: #000000;
}
.table .prd-name {
  font-size: 14px;
}
.table .prd-price {
  font-size: 15px;
  min-width: 100px;
}
.table td {
  vertical-align: middle;
}
.table th {
  border: none;
}

.total {
  font-size: 14px;
}

.cart-empty {
  width: 50%;
  margin: 0 auto;
}
.cart-empty i {
  display: block;
  color: #ff2a2d;
  font-size: 50px;
  margin-bottom: 20px;
}
.cart-empty span.note-empty {
  display: block;
  margin-bottom: 20px;
}
.cart-empty a {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.cart-item:first-child td.info-prd {
  border: none;
}
.cart-item .info-prd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.cart-item .info-prd i {
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}
.cart-item .info-prd i:hover {
  color: #ff2a2d;
}
.cart-item .info-prd .figure {
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
.cart-item .info-prd .figure img {
  max-width: 50px;
  height: auto;
}
.cart-item .info-prd span {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.cart-item td {
  padding: 0.5rem;
}
.cart-item td .choose-number .abate {
  padding: 0 5px;
}
.cart-item td .choose-number .augment {
  padding: 0 5px;
}
.cart-item td .choose-number .number {
  padding: 0 8px;
}
.cart th {
  min-width: 100px;
}

.coupon .widget-title {
  font-size: 16px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 3px solid #ececec;
}
.coupon .widget-title a:hover {
  color: #ff2a2d;
}
.coupon .form-coupon {
  display: none;
  border: 2px dashed #ff2a2d;
  padding: 20px;
}

.custom-order {
  border: 2px solid #ff2a2d;
}
.custom-order .table {
  font-size: 14px;
}
.custom-order .table td.prd-price {
  color: #ff2a2d;
}
.custom-order .table tfoot tr:last-child td {
  border-bottom: 3px solid rgba(0, 0, 0, 0.125);
}
.custom-order .btn-order button {
  width: 100%;
}

#accordion .card .form-check-label {
  vertical-align: sub;
}

.fs-14 {
  font-size: 14px;
}

.page-title {
  background-color: rgba(0, 0, 0, 0.125);
}
.page-title .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
}
.page-title .container .box-left {
  align-items: center;
}
.page-title .container .box-left .breadcrumb {
  margin-bottom: 0;
}
.page-title .container .box-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-items: center;
}
.page-title .container .box-right .form-control {
  width: fit-content;
}

/*# sourceMappingURL=style.css.map */
