$Red: #ff2a2d;
$Border: #dddddd;
$Black: #000000;
$TextColor: #292929;
$Border:rgba(0, 0, 0, 0.125);
$White: #fff;
@mixin flex($flex:row, $justify:flex-start, $align:stretch, $wrap:nowrap) {
  display: flex;
  flex-direction: $flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin textoverflow ($line:2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

body {
  font-family: "Roboto", sans-serif;
  color: $Black;
  font-size: 16px;
}

.header {
  .navbar {
    font-weight: 600;
    .nav-item {
      &.active {
        .nav-link {
          color: $Red;
        }
      }
      .nav-link {
        color: $TextColor;
      }
      &:hover {
        .nav-link {
          color: $Red;
        }
      }
    }
  }
  .dropdown {
    &:hover {
      &>.dropdown-menu {
        display: block;
      }
    }
    .dropdown-item {
      font-size: 16px;
    }
  }
  .nav-right {
    .list-group {
      &-item {
        font-weight: bold;
        border: none;
        border-left: 1px solid $Border;
        &:first-child {
          border-left: none;
        }
        .dropdown-menu {
          left: -50px;
          width: 230px;
        }
        i {
          color: $Black;
          font-size: 25px;
          font-weight: 500;
          cursor: pointer;
          &:hover {
            color: $Red;
          }
        }
        .badge-red {
          background-color: $Red;
          position: absolute;
          right: 10px;
          top: 20%;
        }
        .search {
          i {
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(0, -50%);
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
          }
        }
      }
    }
  }
}

.owl-carousel.owl-theme {
  .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 45%;
    left: 0;
    height: 0;
    width: 100%;
    margin: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    [class*=owl-] {
      display: none;
      margin: 0;
      i {
        font-size: 35px;
        color: $White;
        &:hover {
          color: $Red;
        }
      }
    }
    .owl-next {
      margin-right: 30px;
    }
    .owl-prev {
      margin-left: 30px;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    .owl-dot {
      outline: none;
      span {
        width: 12px;
        height: 12px;
        margin: 0 5px;
        border: 3px solid #fff;
        border-radius: 50%;
        opacity: 0.4;
        cursor: pointer;
        transition: opacity .3s;
        &:hover {
          opacity: 0.8;
        }
      }
      &.active {
        span {
          opacity: 1;
          background-color: #fff;
        }
      }
      &:hover {
        span {
          background-color: #fff;
        }
      }
    }
  }
}

.section-category {
  @include flex("row", "flex-start", "stretch", "wrap");
  border: 1px solid $Red;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  &-item {
    max-width: 12.5%;
    width: 12.5%;
    border-left: 1px solid $Border;
    &:first-child {
      border-left: none;
    }
  }
}